body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left:40px;
  font-weight: 200;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
  text-align: center;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

#chart {
  text-align: center;
  height: 506px;
}

text {
  font: 10px sans-serif;
}

.dot {
  stroke: #000;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  fill: #777;
}

.year.label {
  font: 500 136px "Helvetica Neue";
  fill: #ddd;
}

.year.label.active {
  fill: #aaa;
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

.legendText {
  font: 10px "Helvetica Neue";
}

.legendCircle {
  cy: 10px;
  r: 8px;
  stroke: "black";
  stroke-width: 2;
}
